<title>Maxent model for species</title>
<CENTER><H1>Maxent model for species</H1></CENTER>
<br> This page contains some analysis of the Maxent model for species, created Fri Feb 10 03:02:59 BRST 2017 using Maxent version 3.3.3k.  If you would like to do further analyses, the raw data used here is linked to at the end of this page.<br>
<br><HR><H2>Analysis of omission/commission</H2>
The following picture shows the omission rate and predicted area as a function of the cumulative threshold.  The omission rate is is calculated both on the training presence records, and (if test data are used) on the test records.  The omission rate should be close to the predicted omission, because of the definition of the cumulative threshold.
<br><img src="plots/species_omission.png"><br>
<br> The next picture is the receiver operating characteristic (ROC) curve for the same data.  Note that the specificity is defined using predicted area, rather than true commission (see the paper by Phillips, Anderson and Schapire cited on the help page for discussion of what this means).  This implies that the maximum achievable AUC is less than 1.  If test data is drawn from the Maxent distribution itself, then the maximum possible test AUC would be 0.925 rather than 1; in practice the test AUC may exceed this bound.
<br><img src="plots/species_roc.png"><br>
<br>
<br>
Some common thresholds and corresponding omission rates are as follows.  If test data are available, binomial probabilities are calculated exactly if the number of test samples is at most 25, otherwise using a normal approximation to the binomial.  These are 1-sided p-values for the null hypothesis that test points are predicted no better than by a random prediction with the same fractional predicted area.  The "Balance" threshold minimizes 6 * training omission rate + .04 * cumulative threshold + 1.6 * fractional predicted area.<br>
<br><table border cols=6 cellpadding=3><tr><th>Cumulative threshold</th><th>Logistic threshold</th><th>Description</th><th>Fractional predicted area</th><th>Training omission rate</th><th>Test omission rate</th><th>P-value</th><tr align=center><td>1.000</td><td>0.017</td><td>Fixed cumulative value 1</td><td>0.475</td><td>0.000</td><td>0.125</td><td>2.551E-2</td><tr align=center><td>5.000</td><td>0.064</td><td>Fixed cumulative value 5</td><td>0.293</td><td>0.000</td><td>0.125</td><td>1.093E-3</td><tr align=center><td>10.000</td><td>0.120</td><td>Fixed cumulative value 10</td><td>0.202</td><td>0.048</td><td>0.125</td><td>9.092E-5</td><tr align=center><td>8.244</td><td>0.098</td><td>Minimum training presence</td><td>0.227</td><td>0.000</td><td>0.125</td><td>1.993E-4</td><tr align=center><td>13.697</td><td>0.159</td><td>10 percentile training presence</td><td>0.162</td><td>0.095</td><td>0.250</td><td>3.75E-4</td><tr align=center><td>16.007</td><td>0.190</td><td>Equal training sensitivity and specificity</td><td>0.143</td><td>0.143</td><td>0.250</td><td>1.837E-4</td><tr align=center><td>38.900</td><td>0.451</td><td>Maximum training sensitivity plus specificity</td><td>0.053</td><td>0.143</td><td>0.625</td><td>6.668E-3</td><tr align=center><td>12.298</td><td>0.142</td><td>Equal test sensitivity and specificity</td><td>0.176</td><td>0.095</td><td>0.125</td><td>3.477E-5</td><tr align=center><td>12.298</td><td>0.142</td><td>Maximum test sensitivity plus specificity</td><td>0.176</td><td>0.095</td><td>0.125</td><td>3.477E-5</td><tr align=center><td>5.137</td><td>0.065</td><td>Balance training omission, predicted area and threshold value</td><td>0.289</td><td>0.000</td><td>0.125</td><td>1.011E-3</td><tr align=center><td>12.442</td><td>0.145</td><td>Equate entropy of thresholded and original distributions</td><td>0.174</td><td>0.095</td><td>0.250</td><td>5.654E-4</td></table><br>
<br>Click <a href=species_explain.bat type=application/bat>here<a> to interactively explore this prediction using the Explain tool.  If clicking from your browser does not succeed in starting the tool, try running the script in /home/daniel/Dev/R/SDM_Urocitellus_beldingi/ex1_oBeech_modern_randomBg_r/species_explain.bat directly.  This tool requires the environmental grids to be small enough that they all fit in memory.<br><br>
<br><HR><H2>Response curves</H2>
<br>These curves show how each environmental variable affects the Maxent prediction.
The 
curves show how the logistic prediction changes as each environmental variable is varied, keeping all other environmental variables at their average sample value. Click on a response curve to see a larger version.  Note that the curves can be hard to interpret if you have strongly correlated variables, as the model may depend on the correlations in ways that are not evident in the curves.  In other words, the curves show the marginal effect of changing exactly one variable, whereas the model may take advantage of sets of variables changing together.<br><br>
<a href = "plots/species_BIO02.png"> <img src="plots/species_BIO02_thumb.png"></a>
<a href = "plots/species_BIO03.png"> <img src="plots/species_BIO03_thumb.png"></a>
<a href = "plots/species_BIO05.png"> <img src="plots/species_BIO05_thumb.png"></a>
<a href = "plots/species_BIO06.png"> <img src="plots/species_BIO06_thumb.png"></a>
<a href = "plots/species_BIO07.png"> <img src="plots/species_BIO07_thumb.png"></a>
<a href = "plots/species_BIO13.png"> <img src="plots/species_BIO13_thumb.png"></a>
<a href = "plots/species_BIO14.png"> <img src="plots/species_BIO14_thumb.png"></a>
<a href = "plots/species_BIO15.png"> <img src="plots/species_BIO15_thumb.png"></a>
<a href = "plots/species_BIO18.png"> <img src="plots/species_BIO18_thumb.png"></a>
<br>
<br>In contrast to the above marginal response curves, each of the following curves represents a different model, namely, a Maxent model created using only the corresponding variable.  These plots reflect the dependence of predicted suitability both on the selected variable and on dependencies induced by correlations between the selected variable and other variables.  They may be easier to interpret if there are strong correlations between variables.<br><br>
<a href = "plots/species_BIO02_only.png"> <img src="plots/species_BIO02_only_thumb.png"></a>
<a href = "plots/species_BIO03_only.png"> <img src="plots/species_BIO03_only_thumb.png"></a>
<a href = "plots/species_BIO05_only.png"> <img src="plots/species_BIO05_only_thumb.png"></a>
<a href = "plots/species_BIO06_only.png"> <img src="plots/species_BIO06_only_thumb.png"></a>
<a href = "plots/species_BIO07_only.png"> <img src="plots/species_BIO07_only_thumb.png"></a>
<a href = "plots/species_BIO13_only.png"> <img src="plots/species_BIO13_only_thumb.png"></a>
<a href = "plots/species_BIO14_only.png"> <img src="plots/species_BIO14_only_thumb.png"></a>
<a href = "plots/species_BIO15_only.png"> <img src="plots/species_BIO15_only_thumb.png"></a>
<a href = "plots/species_BIO18_only.png"> <img src="plots/species_BIO18_only_thumb.png"></a>
<br>
<br><HR><H2>Analysis of variable contributions</H2><br>
The following table gives estimates of relative contributions of the environmental variables to the Maxent model.  To determine the first estimate, in each iteration of the training algorithm, the increase in regularized gain is added to the contribution of the corresponding variable, or subtracted from it if the change to the absolute value of lambda is negative.  For the second estimate, for each environmental variable in turn, the values of that variable on training presence and background data are randomly permuted.  The model is reevaluated on the permuted data, and the resulting drop in training AUC is shown in the table, normalized to percentages.  As with the variable jackknife, variable contributions should be interpreted with caution when the predictor variables are correlated.<br>
<br><table border cols=3><tr><th>Variable</th><th>Percent contribution</th><th>Permutation importance</th><tr align=right><td>BIO18</td><td>41.9</td><td>40.7</td></tr><tr align=right><td>BIO14</td><td>21</td><td>14.8</td></tr><tr align=right><td>BIO07</td><td>13.2</td><td>4.1</td></tr><tr align=right><td>BIO05</td><td>6.9</td><td>28.7</td></tr><tr align=right><td>BIO03</td><td>5.9</td><td>0</td></tr><tr align=right><td>BIO13</td><td>5.9</td><td>7.9</td></tr><tr align=right><td>BIO06</td><td>4.8</td><td>0.3</td></tr><tr align=right><td>BIO02</td><td>0.4</td><td>3.5</td></tr><tr align=right><td>BIO15</td><td>0</td><td>0</td></tr></table><br><br>
The following picture shows the results of the jackknife test of variable importance.  The environmental variable with highest gain when used in isolation is BIO18, which therefore appears to have the most useful information by itself.  The environmental variable that decreases the gain the most when it is omitted is BIO18, which therefore appears to have the most information that isn't present in the other variables.<br>
<br><img src="plots/species_jacknife.png"><br>
<br>The next picture shows the same jackknife test, using test gain instead of training gain.  Note that conclusions about which variables are most important can change, now that we're looking at test data.
<br><img src="plots/species_jacknife_test.png"><br>
<br>Lastly, we have the same jackknife test, using AUC on test data.
<br><img src="plots/species_jacknife_auc.png"><br>
<br><HR><H2>Raw data outputs and control parameters</H2><br>
The data used in the above analysis is contained in the next links.  Please see the Help button for more information on these.<br>
<a href = "species.csv">The model applied to the training environmental layers</a><br>
<a href = "species.lambdas">The coefficients of the model</a><br>
<a href = "species_omission.csv">The omission and predicted area for varying cumulative and raw thresholds</a><br>
<a href = "species_samplePredictions.csv">The prediction strength at the training and (optionally) test presence sites</a><br>
<a href = "maxentResults.csv">Results for all species modeled in the same Maxent run, with summary statistics and (optionally) jackknife results</a><br>
<br><br>
Regularized training gain is 1.755, training AUC is 0.954, unregularized training gain is 2.256.<br>
Unregularized test gain is 0.747.<br>
Test AUC is 0.858, standard deviation is 0.068 (calculated as in DeLong, DeLong & Clarke-Pearson 1988, equation 2).<br>
Algorithm terminated after 500 iterations (19 seconds).<br>
<br>
The follow settings were used during the run:<br>
21 presence records used for training, 8 for testing.<br>
10021 points used to determine the Maxent distribution (background points and presence points).<br>
Environmental layers used (all continuous): BIO02 BIO03 BIO05 BIO06 BIO07 BIO13 BIO14 BIO15 BIO18<br>
Regularization values: linear/quadratic/product: 0.423, categorical: 0.250, threshold: 1.790, hinge: 0.500<br>
Feature types used: hinge linear quadratic<br>
responsecurves: true<br>
jackknife: true<br>
outputdirectory: /home/daniel/Dev/R/SDM_Urocitellus_beldingi/ex1_oBeech_modern_randomBg_r<br>
samplesfile: /home/daniel/Dev/R/SDM_Urocitellus_beldingi/ex1_oBeech_modern_randomBg_r/presence<br>
environmentallayers: /home/daniel/Dev/R/SDM_Urocitellus_beldingi/ex1_oBeech_modern_randomBg_r/absence<br>
askoverwrite: false<br>
randomtestpoints: 30<br>
autorun: true<br>
visible: false<br>
threads: 2<br>
Command line used:  autorun -e /home/daniel/Dev/R/SDM_Urocitellus_beldingi/ex1_oBeech_modern_randomBg_r/absence -o /home/daniel/Dev/R/SDM_Urocitellus_beldingi/ex1_oBeech_modern_randomBg_r -s /home/daniel/Dev/R/SDM_Urocitellus_beldingi/ex1_oBeech_modern_randomBg_r/presence -z randomtestpoints=30 betamultiplier=1 linear=true quadratic=true product=true threshold=true hinge=true threads=2 responsecurves=true jackknife=true askoverwrite=false<br>
<br>
Command line to repeat this species model: java density.MaxEnt nowarnings noprefixes -E "" -E species responsecurves jackknife outputdirectory=/home/daniel/Dev/R/SDM_Urocitellus_beldingi/ex1_oBeech_modern_randomBg_r samplesfile=/home/daniel/Dev/R/SDM_Urocitellus_beldingi/ex1_oBeech_modern_randomBg_r/presence environmentallayers=/home/daniel/Dev/R/SDM_Urocitellus_beldingi/ex1_oBeech_modern_randomBg_r/absence noaskoverwrite randomtestpoints=30 autorun novisible threads=2<br>
